@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
body {
    background: #ffd89b; 
    background: -webkit-linear-gradient(to left, #19547b, #ffd89b);  
    background: linear-gradient(to left, #19547b, #ffd89b); 
}
header a {
    color: gold;
    font-weight: bold;
}
header a:hover {
    color: rgb(206, 175, 0);
}
h1, p, h2.users {
    text-shadow: 0px 0px 3px black;
    color: rgb(255, 255, 255);
}
h1 {
    font-family: 'Dancing Script', cursive;
}
p {
    letter-spacing: 1px;
    font-family: 'Heebo', sans-serif;
}
#chat-container, .header-content{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    background: #2980b9;  
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  
    background: linear-gradient(to right, #2c3e50, #2980b9); 
}
textarea {
    min-height: 100px;
    resize: none;
}
button {
    font-weight: bold;
    text-transform: uppercase;
}
p.typing {
    font-style: italic;
}
#chat-window {
    height: 500px;
}
.output {
    height: 445px;
    background-color: white;
    overflow-y: scroll;
    background: #cf8068; 
}
#actions {
    min-height: 35px;
    background-color: #10171d;
}
.my_message {
    background-color: #ffd89b;
    color: black;
    border-radius: 10px 10px 0px 10px;
}
.user_message {
    background-color: #19547b;
    color: white;
    border-radius: 10px 10px 10px 0px;
}
.my_message, .user_message {
    text-shadow: none;
    text-align: left;
    white-space: normal;
    word-break: break-all;
    display: inline-block;
}
/*BARRA DE SCROLL*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #cf8068;
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}