@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
body {
    background: #ffd89b; 
    background: -webkit-linear-gradient(to left, #19547b, #ffd89b);  
    background: linear-gradient(to left, #19547b, #ffd89b); 
}
header a {
    color: gold;
    font-weight: bold;
}
header a:hover {
    color: rgb(206, 175, 0);
}
h1, p {
    text-shadow: 0px 0px 3px black;
    color: rgb(255, 255, 255);
}
h1 {
    font-family: 'Dancing Script', cursive;
}
p {
    letter-spacing: 1px;
    font-family: 'Heebo', sans-serif;
}
#chat-container, .header-content{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    background: #2980b9;  
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  
    background: linear-gradient(to right, #2c3e50, #2980b9); 
}
textarea {
    min-height: 100px;
    resize: none;
}
button {
    font-weight: bold;
    text-transform: uppercase;
}